= form_tag('#', id: 'dialler') do
  = phone_field_tag 'number'
  = submit_tag 'Call', id: 'dial'
  = submit_tag 'Hangup', id: 'hangup', style: 'display:none;'
  = image_tag  'ajax-loader.gif', id: 'activity_indicator', style: 'display:none'

%table
  %thead
    %tr
      %th Telephone Number
      %th Time
      %th Duration
      %th Cost
  %tbody
    - @recent_calls.select { |call| call.direction == "outbound-dial" }.each do |call|
      %tr
        %td
          = link_to call.to, '#', class: 'number'
        - minutes = call.duration.to_i / 60
        %td= Time.parse(call.start_time).strftime '%R'
        %td= "#{'%02d' % minutes}:#{'%02d' % (call.duration.to_i - minutes * 60)}"
        %td= "$#{call.price ? call.price[1,4] : '0.00'}"

= content_for :javascript do
  :javascript
    (function() {
      var keymap = {
        48 : '0',
        49 : '1',
        50 : '2',
        51 : '3',
        52 : '4',
        53 : '5',
        54 : '6',
        55 : '7',
        56 : '8',
        57 : '9'
      }

      $(document).ready(function() {
        Twilio.Device.setup("#{@capability_token}")

        Twilio.Device.disconnect(function(connection) {
          $('#hangup').hide()
          $('#dial').show()
          $(document).unbind('keypress')
        })

        Twilio.Device.connect(function(connection) {
          $('#dial').hide()
          $('#hangup').show()
          $('#activity_indicator').hide()
          $(document).keypress(function(ev) {
            connection.sendDigits(keymap[ev.which])
          })
        })

        $('#dialler').submit(function(ev) {
          ev.stopImmediatePropagation()
          ev.preventDefault()
        })

        $('#number').focus(function(ev) {
          $(this).val(null)
        })

        $('#dial').click(function(ev) {
          var number = $('#number').val()
          if(number.match(/\+?\d{10,}/)) {
            $('#activity_indicator').show()
            Twilio.Device.connect({ 'phone_number' : number })
          } else {
            alert('Please enter a legit phone number.')
          }
          ev.stopImmediatePropagation()
          ev.preventDefault()
        })

        $('#hangup').click(function(ev) {
          Twilio.Device.disconnectAll()
          ev.stopImmediatePropagation()
          ev.preventDefault()
        })

        $('table a').click(function(ev) {
          var number = $(this).text()
          $('#activity_indicator').show()
          $('#number').val(number)
          Twilio.Device.connect({ 'phone_number' : number })
        })

      })
    })()
